<?xml version="1.0"?>
<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch"/>
  <param name="robot_description" textfile="$(find mobile_robot)/urdf/model.urdf" />

  <node name="spawn_urf" pkg="gazebo_ros"
        type="spawn_model" output="screen"
        args="-file $(find mobile_robot)/urdf/flr/model.sdf -sdf -model maze" />


  <node name="spawn_urdf" pkg="gazebo_ros"
        type="spawn_model" output="screen"
        args="-file $(find mobile_robot)/urdf/model.urdf -urdf -model my_model"/>

  <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="30.0"/>
    <param name="tf_prefix" type="string" value=""/>
    <remap from="joint_states" to="sk/joint_states" />
  </node>


  <!--include file="$(find turtlebot3_teleop)/launch/turtlebot3_teleop_key.launch"/-->
</launch>


